.category__container h1 {
  border: grey solid 0.1em;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.1em;
}

.post-list {
	border: grey solid;
	border-width: thin;
	margin: -0.3em 0.7em 0 0.7em;
}

.card__head {
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
}