.category__container .category__header {
  border: grey solid 0.1em;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list {
	border: grey solid;
	border-width: thin;
	margin: -0.3em 0.7em 0 0.7em;
}

.card__head {
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
}

.add-content {
	align-self: flex-end;
	height: 2em;
}

.vote-container {
	display: flex;
}